.Timeline {
	@include box-sizing( border-box );
	display: block;
	border-top: $timeline-line-width solid $color-timeline-line-background;
	position: absolute;
	top: calc( 50% - #{$timeline-line-point} );
	right: 0;
	width: 100%;
}

.Timeline-event {
	color: $timeline-event-color-minor;
	
	@include box-sizing( border-box );
	margin: $timeline-event-margin;
	padding: 8px;
	position: relative;
	font-size: 18px;
	line-height: 20px;
	float: left;
	max-width: $timeline-event-max-width-base;
	text-align: center;

	&::before,
	&::after {
		display: block;
		position: absolute;
	}

	&::after {
		color: $timeline-event-date-color;

		content: attr(data-timestamp);
		font: {
			size: 14px;
			style: italic;
		};

		left: 0;
		top: -66px;
		text-align: center;
		width: 100%;
	}
}

.Timeline-event--major {
	color: $timeline-event-color-major;

	&::before {
		content: '';
		background-color: $timeline-line-point-color;
		font: {
			family: sans-serif;
			size: $timeline-line-width + $timeline-line-point;
		};
		line-height: $timeline-line-point;
		border-radius: $timeline-line-point;
		border: ($timeline-line-point / 2) solid $color-timeline-line-background;
		height: $timeline-line-point;
		width: $timeline-line-point;
		position: absolute;
		top: -$timeline-event-margin - ($timeline-line-width / 2) - $timeline-line-point;
		left: calc( 50% - #{$timeline-line-point} );
	}

	&.is-active {
		&::before {
			content: '\25CF';
			color: $timeline-line-point-active-color;
		}
	}
}

.Timeline-event--medium {
	max-width: $timeline-event-max-width-base * 2;
}

.Timeline-event--large {
	max-width: $timeline-event-max-width-base * 4;
}

.Timeline-event--noMarker {
	&::before {
		display: none;
	}
}