.Badge {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    overflow: hidden;
    visibility: hidden;
    width: 11em;
    height: 11em;
    line-height: 2.5;
    font-size: 15px;
}
.Badge-hyperlink {
    position: absolute;
    bottom: 50%;
    right: -50%;
    left: -50%;
    visibility: visible;
    background: #52A2DF;
    color: #FFF;
    text-align: center;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(45deg)translateY(-1em);
    -ms-transform: rotate(45deg)translateY(-1em);
    transform: rotate(45deg)translateY(-1em);
}