/* line 17, /Users/mattfairbrass/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/mattfairbrass/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/mattfairbrass/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/mattfairbrass/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/mattfairbrass/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/mattfairbrass/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/mattfairbrass/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/mattfairbrass/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/mattfairbrass/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/shower-timeline.scss */
body {
  counter-reset: slide;
  font: 24px/2 'Open Sans', sans-serif;
}

/* line 9, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/shower-timeline.scss */
blockquote,
q {
  quotes: none;
}
/* line 13, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/shower-timeline.scss */
blockquote::before, blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

/* line 19, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/shower-timeline.scss */
a {
  color: #52A2DF;
  text-decoration: none;
}

@font-face {
  font-family: "Open Sans";
  src: url('../../fonts/opensans/opensans-regular.eot');
  src: url('../../fonts/opensans/opensans-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/opensans/opensans-regular.woff') format('woff'), url('../../fonts/opensans/opensans-regular.ttf') format('truetype'), url('../../fonts/opensans/opensans-regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('../../fonts/opensans/opensans-bold.eot');
  src: url('../../fonts/opensans/opensans-bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/opensans/opensans-bold.woff') format('woff'), url('../../fonts/opensans/opensans-bold.ttf') format('truetype'), url('../../fonts/opensans/opensans-bold.svg#open_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('../../fonts/opensans/opensans-italic.eot');
  src: url('../../fonts/opensans/opensans-italic.eot?#iefix') format('embedded-opentype'), url('../../fonts/opensans/opensans-italic.woff') format('woff'), url('../../fonts/opensans/opensans-italic.ttf') format('truetype'), url('../../fonts/opensans/opensans-italic.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Source Code Pro";
  src: url('../../fonts/sourcecodepro/sourcecodepro-regular.eot');
  src: url('../../fonts/sourcecodepro/sourcecodepro-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/sourcecodepro/sourcecodepro-regular.woff') format('woff'), url('../../fonts/sourcecodepro/sourcecodepro-regular.ttf') format('truetype'), url('../../fonts/sourcecodepro/sourcecodepro-regular.svg#source_code_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mono Social Icons Font";
  src: url('../../fonts/monosocialicons/monosocialicons.eot');
  src: url('../../fonts/monosocialicons/monosocialicons.eot?#iefix') format('embedded-opentype'), url('../../fonts/monosocialicons/monosocialicons.woff') format('woff'), url('../../fonts/monosocialicons/monosocialicons.ttf') format('truetype'), url('../../fonts/monosocialicons/monosocialicons.svg#MonoSocialIconsFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media print {
  /* line 2, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/_print.scss */
  body {
    text-rendering: geometricPrecision;
  }
}
/* line 9, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/utils/_icons.scss */
.u-icon,
a.u-icon::before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 23, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/utils/_icons.scss */
a.u-icon::before {
  content: attr(data-icon);
  margin-right: 0.3em;
  font-size: 130%;
}

/* line 1, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/utils/_text-size-adjust.scss */
.u-textSizeAdjust, .Slide {
  -webkit-print-color-adjust: exact;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/* line 2, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/utils/_vertical-center.scss */
.u-verticalCenter::after {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* line 1, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide {
  position: relative;
  width: 1024px;
  height: 640px;
  background: #e3e5e7;
  color: #000;
}
/* line 11, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide b,
.Slide strong {
  font-weight: 700;
}
/* line 16, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide i,
.Slide em {
  font-style: italic;
}
/* line 21, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide sub,
.Slide sup {
  position: relative;
  line-height: 0;
  font-size: 75%;
}
/* line 27, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide sub {
  bottom: -.25em;
}
/* line 30, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide sup {
  top: -.5em;
}
/* line 34, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide::after {
  position: absolute;
  right: 0;
  bottom: 45px;
  left: 0;
  color: #AAA;
  counter-increment: slide;
  content: counter(slide);
  text-align: center;
  line-height: 1;
}

/* line 47, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 100px 96px 0 128px;
  width: 800px;
  height: 540px;
}

/* line 57, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-title {
  margin: 0 0 58px;
  font: 48px/1 'Open Sans', sans-serif;
  font-weight: bold;
}

/* line 63, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-bodyText {
  margin: 0 0 48px;
}

/* line 67, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-bodyText--note {
  color: #AAA;
}

/* line 71, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-codeInline, .Slide-codeBlock code,
.Slide-codeBlock kbd,
.Slide-codeBlock samp {
  padding: 5px 7px 1px;
  background: rgba(0, 0, 0, 0.08);
  color: #000;
  line-height: 1;
  font-family: 'Source Code Pro', monospace;
}

/* line 79, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-codeBlock {
  margin: 0 0 45px;
  padding: 3px 0 0;
  counter-reset: code;
  white-space: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
/* line 94, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-codeBlock code {
  display: block;
  padding: 0;
  background: 0 0;
  white-space: pre;
  line-height: 2;
}
/* line 101, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-codeBlock code::before {
  position: absolute;
  margin-left: -50px;
  color: #AAA;
  counter-increment: code;
  content: counter(code,decimal-leading-zero) ".";
}
/* line 110, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-codeBlock code:only-child::before {
  content: "";
}
/* line 116, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-codeBlock mark {
  padding: 2px 7px;
  background: #FAFAC4;
  color: #000;
  padding: 5px 7px 1px;
}
/* line 122, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-codeBlock mark.is-important {
  background: #52A2DF;
  color: #FFF;
}
/* line 127, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-codeBlock mark.is-comment {
  padding: 0;
  background: 0 0;
  color: #AAA;
}

/* line 135, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-blockquote {
  font-style: italic;
}
/* line 138, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-blockquote::before {
  position: absolute;
  margin: -49px 0 0 -100px;
  color: #DDD;
  content: '\201C';
  line-height: 1;
  font-size: 200px;
}
/* line 147, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-blockquote + .Slide-caption {
  margin: -48px 0 48px;
  font-style: italic;
  font-weight: 700;
}

/* line 154, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-list {
  margin: 0 0 48px;
  counter-reset: list;
}
/* line 158, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-list .Slide-list {
  margin: 0 0 0 2em;
}

/* line 163, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-list-item {
  text-indent: -2em;
}
/* line 166, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-list-item::before {
  display: inline-block;
  width: 2em;
  color: #AAA;
  text-align: right;
}

/* line 176, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-list--unordered > .Slide-list-item::before {
  content: '\2022\00A0\00A0\2009';
}
/* line 179, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-list--unordered > .Slide-list-item::before:lang(ru) {
  content: "\2014\00A0\2009";
}

/* line 188, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-list--ordered > .Slide-list-item::before {
  counter-increment: list;
  content: counter(list) ".\00A0\2009";
}

/* line 195, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-table {
  margin: 0 0 50px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 202, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-table-col {
  background: -webkit-linear-gradient(bottom, #52a2df, #52a2df 0.055em, transparent 0.055em, transparent) repeat-x;
  background: linear-gradient(to top, #52a2df, #52a2df 0.055em, transparent 0.055em, transparent) repeat-x;
}

/* line 207, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-table-col--header {
  text-align: left;
  font-weight: 700;
}

/* line 214, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-table--striped .Slide-table-row:nth-child(even) {
  background: #f1f7fc;
}

/* line 221, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide--cover,
.Slide--shout {
  z-index: 1;
}
/* line 224, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide--cover::after,
.Slide--shout::after {
  content: '';
}

/* line 229, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide--cover {
  background: black;
}
/* line 237, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide--cover img,
.Slide--cover svg,
.Slide--cover video,
.Slide--cover object,
.Slide--cover canvas,
.Slide--cover iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* line 250, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide--cover.w img,
.Slide--cover.w svg,
.Slide--cover.w video,
.Slide--cover.w object,
.Slide--cover.w canvas,
.Slide--cover.w iframe {
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 259, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide--cover.h {
  left: 50%;
  height: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 268, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide--cover.w.h {
  top: 0;
  left: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

/* line 278, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide--shout {
  background: #52a2df;
}
/* line 281, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide--shout .Slide-title {
  position: absolute;
  top: 50%;
  left: 128px;
  right: 96px;
  color: #FFF;
  font-size: 100px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 293, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide--shout .Slide-hyperlink {
  color: #FFF;
}

/* line 300, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-place {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 311, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-place.t.l, .Slide-place.t.r, .Slide-place.b.r, .Slide-place.b.l {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
/* line 318, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-place.t, .Slide-place.b {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 325, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-place.l, .Slide-place.r {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 333, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-place.t, .Slide-place.t.l, .Slide-place.t.r {
  top: 0;
}
/* line 337, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-place.r {
  right: 0;
  left: auto;
}
/* line 344, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-place.b, .Slide-place.b.r, .Slide-place.b.l {
  top: auto;
  bottom: 0;
}
/* line 349, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-place.l {
  left: 0;
}

/* line 354, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -640px;
  z-index: 1;
  display: none;
  padding: 21px 96px 4px 128px;
  background: #FAFAC4;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: bottom .3s;
  transition: bottom .3s;
}
/* line 367, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-footer .Slide-bodyText {
  margin: 0 0 16px;
}
/* line 371, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide-footer mark {
  background: rgba(255, 255, 255, 0.7);
}

/* line 378, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_index.scss */
.Slide:hover .Slide-footer {
  bottom: 0;
}

@media print {
  /* line 2, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/slide/_print.scss */
  .slide {
    page-break-before: always;
  }
}
@media screen {
  /* line 2, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_screen.scss */
  .list {
    position: absolute;
    clip: rect(0, auto, auto, 0);
    padding: 50px 0 50px 50px;
    background: #757f89;
    text-align: center;
  }
  /* line 9, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_screen.scss */
  .list .Slide {
    position: relative;
    top: 270px;
    display: inline-block;
    margin: -270px -462px 0 0;
    text-align: left;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  /* line 22, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_screen.scss */
  .list .Slide::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 512px;
    height: 320px;
    box-shadow: 0 0 0 1px #acb2b8;
    content: '';
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
  /* line 39, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_screen.scss */
  .list .Slide::after {
    top: 100%;
    bottom: auto;
    padding-top: 50px;
  }
  /* line 47, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_screen.scss */
  .list .Caption,
  .list .Badge {
    display: block;
  }
}
@media screen and (max-width: 1180px) {
  /* line 54, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_screen.scss */
  .list .Slide {
    top: 430px;
    margin: -430px -718px 0 0;
    -webkit-transform: scale(0.25);
    -ms-transform: scale(0.25);
    transform: scale(0.25);
  }
  /* line 61, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_screen.scss */
  .list .Slide::before {
    width: 256px;
    height: 160px;
    -webkit-transform: scale(4);
    -ms-transform: scale(4);
    transform: scale(4);
  }
  /* line 69, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_screen.scss */
  .list .Slide::after {
    width: 512px;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
}
/* line 6, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_index.scss */
.list .Slide:hover::before {
  box-shadow: 0 0 0 1px #eeeeee, 0 0 0 12px rgba(255, 255, 255, 0.5);
}
/* line 12, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_index.scss */
.list .Slide:target::before {
  box-shadow: 0 0 10px 0 #3c99db, 0 0 0 12px #52A2DF;
}
/* line 16, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_index.scss */
.list .Slide:target::after {
  color: #52A2DF;
}
/* line 23, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_index.scss */
.list .Slide-inner::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  content: '';
}
/* line 36, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_index.scss */
.list .Slide--cover::after,
.list .Slide--shout::after {
  content: counter(slide);
}
/* line 41, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/list/_index.scss */
.list .Slide-footer {
  display: block;
}

/* line 1, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_index.scss */
.full {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin: -320px 0 0 -512px;
  width: 1024px;
  height: 640px;
  background: #000;
}

/* line 14, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_index.scss */
.full .Progress {
  display: block;
}

/* line 3, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_debug.scss */
.full.debug::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: url(../images/grid-16x10.svg) no-repeat;
  content: '';
}
/* line 15, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_debug.scss */
.full .live-region {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: none;
  display: block;
}
/* line 27, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_debug.scss */
.full .Slide {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 150%;
}
/* line 33, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_debug.scss */
.full .Slide .next {
  visibility: hidden;
}
/* line 36, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_debug.scss */
.full .Slide .next.active {
  visibility: visible;
}
/* line 41, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_debug.scss */
.full .Slide:target {
  margin: 0;
}
/* line 49, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_debug.scss */
.full .Slide--shout.up .Slide-title, .full .Slide--shout.right .Slide-title {
  opacity: 0;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}
/* line 56, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_debug.scss */
.full .Slide--shout.up:target .Slide-title, .full .Slide--shout.right:target .Slide-title {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(-50%);
  -ms-transform: translateX(0) translateY(-50%);
  transform: translateX(0) translateY(-50%);
}
/* line 66, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_debug.scss */
.full .Slide--shout.right .Slide-title {
  -webkit-transform: translateX(-100%) translateY(-50%);
  -ms-transform: translateX(-100%) translateY(-50%);
  transform: translateX(-100%) translateY(-50%);
}
/* line 74, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/full/_debug.scss */
.full .Slide--shout.up .Slide-title {
  -webkit-transform: translateX(0) translateY(100%);
  -ms-transform: translateX(0) translateY(100%);
  transform: translateX(0) translateY(100%);
}

/* line 2, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/progress/_index.scss */
.Progress {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* line 11, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/progress/_index.scss */
.Progress-inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  background: #52A2DF;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
}

/* line 1, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/caption/_index.scss */
.Caption {
  display: none;
  margin: 0 0 60px;
  padding: 0 50px 0 0;
  color: white;
}

/* line 8, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/caption/_index.scss */
.Caption-title {
  font: 50px 'Open Sans', sans-serif;
}

/* line 1, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/badge/_index.scss */
.Badge {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  overflow: hidden;
  visibility: hidden;
  width: 11em;
  height: 11em;
  line-height: 2.5;
  font-size: 15px;
}

/* line 13, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/badge/_index.scss */
.Badge-hyperlink {
  position: absolute;
  bottom: 50%;
  right: -50%;
  left: -50%;
  visibility: visible;
  background: #52A2DF;
  color: #FFF;
  text-align: center;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotate(45deg) translateY(-1em);
  -ms-transform: rotate(45deg) translateY(-1em);
  transform: rotate(45deg) translateY(-1em);
}

/* line 1, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/timeline/_index.scss */
.Timeline {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border-top: 8px solid #52a2df;
  position: absolute;
  top: calc(50% - 12px );
  right: 0;
  width: 100%;
}

/* line 11, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/timeline/_index.scss */
.Timeline-event {
  color: #a6a6a6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 8px;
  padding: 8px;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  float: left;
  max-width: 140px;
  text-align: center;
}
/* line 25, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/timeline/_index.scss */
.Timeline-event::before, .Timeline-event::after {
  display: block;
  position: absolute;
}
/* line 30, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/timeline/_index.scss */
.Timeline-event::after {
  color: #757f89;
  content: attr(data-timestamp);
  font-size: 14px;
  font-style: italic;
  left: 0;
  top: -66px;
  text-align: center;
  width: 100%;
}
/* line 45, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/timeline/_index.scss */
.Timeline-event::before {
  content: '';
  background-color: #52a2df;
  height: 16px;
  top: -9px;
  left: calc(50% - 6px );
  width: 6px;
}

/* line 57, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/timeline/_index.scss */
.Timeline-event--major {
  color: black;
}
/* line 60, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/timeline/_index.scss */
.Timeline-event--major::before {
  background-color: white;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 12px;
  border-radius: 12px;
  border: 6px solid #52a2df;
  height: 12px;
  width: 12px;
  position: absolute;
  top: -24px;
}
/* line 76, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/timeline/_index.scss */
.Timeline-event--major.is-active::before {
  content: '\25CF';
  color: red;
}

/* line 83, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/timeline/_index.scss */
.Timeline-event--medium {
  max-width: 280px;
}

/* line 87, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/timeline/_index.scss */
.Timeline-event--large {
  max-width: 560px;
}

/* line 92, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/modules/timeline/_index.scss */
.Timeline-event--noMarker::before {
  display: none;
}

/* line 39, /Users/mattfairbrass/Sites/presentations/shower/themes/shower-timeline/assets/styles/scss/shower-timeline.scss */
.live-region {
  display: none;
}

@page {
  margin: 0;
  size: 1024px 640px;
}
